article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{display:block;}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1;}
audio:not([controls]){display:none;}
[hidden]{display:none;}
html{font-size:100%;overflow-y:scroll;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
body{margin:0;font-size:13px;line-height:1.231;}
body,button,input,select,textarea{font-family:sans-serif;color:#222;}
::-moz-selection{background:#f9cf32;color:#fff;text-shadow:none;}
::selection{background:#f9cf32;color:#fff;text-shadow:none;}
a{color:#00e;}
a:visited{color:#551a8b;}
a:hover{color:#06e;}
a:focus{outline:thin dotted;}
a:hover,a:active{outline:0;}
abbr[title]{border-bottom:1px dotted;}
b,strong{font-weight:bold;}
blockquote{margin:1em 40px;}
dfn{font-style:italic;}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0;}
ins{background:#ff9;color:#000;text-decoration:none;}
mark{background:#ff0;color:#000;font-style:italic;font-weight:bold;}
pre,code,kbd,samp{font-family:monospace, monospace;_font-family:'courier new',monospace;font-size:1em;}
pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word;}
q{quotes:none;}
q:before,q:after{content:"";content:none;}
small{font-size:85%;}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}
sup{top:-0.5em;}
sub{bottom:-0.25em;}
ul,ol{margin:1em 0;padding:0 0 0 40px;}
dd{margin:0 0 0 40px;}
nav ul,nav ol{list-style:none;list-style-image:none;margin:0;padding:0;}
img{border:0;-ms-interpolation-mode:bicubic;vertical-align:middle;}
svg:not(:root){overflow:hidden;}
figure{margin:0;}
form{margin:0;}
fieldset{border:0;margin:0;padding:0;}
label{cursor:pointer;}
legend{border:0;*margin-left:-7px;padding:0;}
button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle;}
button,input{line-height:normal;*overflow:visible;}
table button,table input{*overflow:auto;}
button,input[type="button"],input[type="reset"],input[type="submit"]{cursor:pointer;-webkit-appearance:button;}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box;}
input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}
input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}
textarea{overflow:auto;vertical-align:top;resize:vertical;}
input:invalid,textarea:invalid{background-color:#f0dddd;}
table{border-collapse:collapse;border-spacing:0;}
td{vertical-align:top;}
html,body{min-height:100%;}
body{background:url(../img/tiles.jpg);background:url(../img/logo-bg.png) no-repeat 50% 50%,url(../img/gradient-background.png) no-repeat 50% 50%,url(../img/tiles.jpg) 0 0 repeat;background:url(../img/logo-bg.png) no-repeat 50% 50%,-webkit-gradient(radial, 50% 50%, 200, 50% 50%, 20, from(rgba(22, 26, 46, 0.3)), to(rgba(29, 35, 58, 0.5))),url(../img/tiles.jpg);background:url(../img/logo-bg.png) no-repeat 50% 50%,-webkit-radial-gradient(50% 50%, rgba(29, 35, 58, 0.5), rgba(22, 26, 46, 0.3)),url(../img/tiles.jpg);background:url(../img/logo-bg.png) no-repeat 50% 50%,-moz-radial-gradient(50% 50%, rgba(29, 35, 58, 0.5), rgba(22, 26, 46, 0.3)),url(../img/tiles.jpg);background:url(../img/logo-bg.png) no-repeat 50% 50%,-ms-radial-gradient(50% 50%, rgba(29, 35, 58, 0.5), rgba(22, 26, 46, 0.3)),url(../img/tiles.jpg);background:url(../img/logo-bg.png) no-repeat 50% 50%,-o-radial-gradient(50% 50%, rgba(29, 35, 58, 0.5), rgba(22, 26, 46, 0.3)),url(../img/tiles.jpg);background:url(../img/logo-bg.png) no-repeat 50% 50%,radial-gradient(50% 50%, rgba(29, 35, 58, 0.5), rgba(22, 26, 46, 0.3)),url(../img/tiles.jpg);min-width:1000px;}
#container{height:768px;width:960px;margin:0 auto;position:relative;}
#main{position:relative;height:470px;width:890px;padding:0 70px;color:#fff;display:table-cell;vertical-align:middle;}
header ul{position:absolute;right:0;overflow:auto;z-index:10;}header ul li{display:block;float:left;}header ul li a:link,header ul li a:visited,header ul li a:hover,header ul li a:focus,header ul li a:active{font:10px "Helvetica Neue",Helvetica,Arial,sans-serif;color:white;text-decoration:none;z-index:100;display:block;padding:1px 6px;-webkit-font-smoothing:subpixel-antialiased;}
header ul li a:hover{text-decoration:underline;}
header ul li:nth-child(1){border-right:1px solid white;}
#imgnation_studios{background:url(../img/logo.png) no-repeat;height:141px;width:518px;position:absolute;bottom:0;right:0;z-index:1000;margin-right:-10px;}
h2{font:700 36px "Helvetica Neue",Helvetica,Arial,sans-serif;color:#f8c60b;}
.address li,p{margin:0;padding:0;margin-top:18px;font:700 18px "Helvetica Neue",Helvetica,Arial,sans-serif;-webkit-font-smoothing:antialiased;}.address li span,p span{color:#ffe800;}
.address li a:link,p a:link,.address li a:visited,p a:visited,.address li a:hover,p a:hover,.address li a:focus,p a:focus,.address li a:active,p a:active{color:#ffe800;text-decoration:none;}
.address li a:hover,p a:hover{text-decoration:underline;}
.address{padding-left:0;}
.address li span{color:white;}
#main div{width:50%;}#main div:first-child{float:left;display:table-cell;}
#main div:nth-child(2){height:390px;margin:0;padding:0;float:right;text-align:right;}
#contact #main div:first-child{padding-top:20px;}
#contact #main li{list-style:none;margin-bottom:20px;position:relative;}
#contact #main input,#contact #main textarea,#contact #main button{font:700 16px "Helvetica Neue",Helvetica,Arial,sans-serif;-webkit-font-smoothing:antialiased;color:#424242;background:#c9c9c9;border:none;outline:none;-webkit-box-shadow:inset 0 0 10px 10px #aeaeae;-moz-box-shadow:inset 0 0 10px 10px #aeaeae;box-shadow:inset 0 0 10px 10px #aeaeae;-webkit-transform:scale(1);-moz-transform:scale(1);transform:scale(1);-webkit-transition:all 0.2s ease-in-out;-moz-transition:all 0.2s ease-in-out;-o-transition:all 0.2s ease-in-out;transition:all 0.2s ease-in-out;}#contact #main input:focus,#contact #main textarea:focus,#contact #main button:focus{-webkit-transform:scale(1.04);-moz-transform:scale(1.04);transform:scale(1.04);-webkit-transition:all 0.2s ease-in-out;-moz-transition:all 0.2s ease-in-out;-o-transition:all 0.2s ease-in-out;transition:all 0.2s ease-in-out;}
#contact #main input{border:none;height:39px;width:273px;padding:0 10px;}
#contact #main textarea{border:none;padding:10px 10px;width:273px;height:100px;}
#contact #main button{text-shadow:0 0 12px white;height:40px;width:104px;background:#959595;background:-webkit-gradient(linear, 0 0, 0 100%, from(#959595), color-stop(50%, #cdcdcd));background:-moz-linear-gradient(top, #959595, #cdcdcd 50%);background:-o-linear-gradient(top, #959595, #cdcdcd 50%);background:linear-gradient(top, #959595, #cdcdcd 50%);}#contact #main button:hover,#contact #main button:focus{background:#cdcdcd;background:-webkit-gradient(linear, 0 0, 0 100%, from(#cdcdcd), color-stop(100%, #959595));background:-moz-linear-gradient(top, #cdcdcd, #959595 100%);background:-o-linear-gradient(top, #cdcdcd, #959595 100%);background:linear-gradient(top, #cdcdcd, #959595 100%);}
#games #main div:first-child,#apps #main div:first-child{width:470px;}#games #main div:first-child img,#apps #main div:first-child img{display:block;vertical-align:middle;margin:0 auto;}
#games #main div:nth-child(2),#apps #main div:nth-child(2){width:260px;text-align:right;}
#blog #main p,#landing #main p{text-align:right;margin:0;padding:0;letter-spacing:-3px;text-transform:uppercase;font-size:66px;font-weight:700;}#blog #main p span,#landing #main p span{color:#ec912b;font-size:80px;}
#blog #main p:nth-child(2) span,#landing #main p:nth-child(2) span{color:#f8c60b;}
#blog #main p:nth-child(3),#landing #main p:nth-child(3){font-size:18px;letter-spacing:-1px;text-transform:none;}#blog #main p:nth-child(3) span,#landing #main p:nth-child(3) span{color:#ec912b;font-size:18px;}
#not-found{text-align:right;}#not-found h2{font-size:72px;}
#not-found p{font-size:32px;}
footer{background:url(../img/footer-gradient.png) no-repeat bottom center;height:140px;width:840px;margin:0 auto;padding-bottom:14px;position:relative;}
nav,nav #nav,nav #nav li{height:140px;}
#nav{overflow:hidden;display:block;}
.about a:hover{background-position:-175px 0;}
.games a:hover{background-position:-176px 0;}
.apps a:hover{background-position:-206px 0;}
.contact a:hover{background-position:-184px 0;}
.blog a:hover{background-position:-216px 0;}
#nav li{display:inline-block;}
#nav a:link,#nav a:visited,#nav a:hover,#nav a:focus,#nav a:active{display:block;color:#fff;font:700 16px "Helvetica Neue",Helvetica,Arial,sans-serif;text-transform:uppercase;text-decoration:none;width:inherit;text-align:center;background-repeat:no-repeat;z-index:20;-webkit-font-smoothing:antialiased;}
.about{width:88px;margin-right:98px;padding-top:10px;}.about a{padding-top:100px;height:29;background-image:url(../img/sprite-about.png);}
body#about .about a,.about a:active{background-position:-87px 0;}
.games{width:88px;margin-right:78px;padding-top:17px;}.games a{padding-top:94px;height:29px;background-image:url(../img/sprite-games.png);}
body#games .games a,.games a:active{background-position:-88px 0;}
.apps{width:102px;margin-right:86px;}.apps a{height:33px;padding-top:107px;background-image:url(../img/sprite-apps.png);}
body#apps .apps a,.apps a:active{background-position:-103px 0;}
.contact{width:92px;padding-top:8px;}.contact a{padding-top:99px;height:32;background-image:url(../img/sprite-contact.png);}
body#contact .contact a,.contact a:active{background-position:-92px 0;}
.blog{width:108px;margin-right:77px;}.blog a{padding-top:107px;height:32;background-image:url(../img/sprite-blog.png);}
body#blog .blog a,.blog a:active{background-position:-108px 0;}
#language-selector{margin:10px 0 0 0;padding:0;position:absolute;float:right;display:block;right:0;z-index:11;}
#language-selector li{display:inline-block;}
#language-selector li:first-child{border-right:1px solid white;overflow:auto;}
#language-selector input[type=submit]{background-color:transparent;border:none;color:white;text-transform:uppercase;font-size:10px;}
.ir{display:block;border:0;text-indent:-999em;overflow:hidden;background-color:transparent;background-repeat:no-repeat;text-align:left;direction:ltr;}
.ir br{display:none;}
.hidden{display:none !important;visibility:hidden;}
.visuallyhidden{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px;}
.visuallyhidden.focusable:active,.visuallyhidden.focusable:focus{clip:auto;height:auto;margin:0;overflow:visible;position:static;width:auto;}
.invisible{visibility:hidden;}
.clearfix:before,.clearfix:after{content:"";display:table;}
.clearfix:after{clear:both;}
.clearfix{zoom:1;}
@media only screen and (min-width: 480px){}@media only screen and (min-width: 768px){}@media print{*{background:transparent !important;color:black !important;text-shadow:none !important;filter:none !important;-ms-filter:none !important;} a,a:visited{text-decoration:underline;} a[href]:after{content:" (" attr(href) ")";} abbr[title]:after{content:" (" attr(title) ")";} .ir a:after,a[href^="javascript:"]:after,a[href^="#"]:after{content:"";} pre,blockquote{border:1px solid #999;page-break-inside:avoid;} thead{display:table-header-group;} tr,img{page-break-inside:avoid;} img{max-width:100% !important;} @page {margin:0.5cm;}p,h2,h3{orphans:3;widows:3;} h2,h3{page-break-after:avoid;}}
